.category {
  width: 90%;
  margin: 0 auto;
  margin-bottom : 20px;
  border: 1px solid black;
  min-height: 300px;
  background-color: #fff;
  color: #000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.top {
  display: flex;
  justify-content: space-between;
}
.name {
  margin: 10px;
  font-size: 1.5em;
}
.search {
  margin: 10px;
  align-self: center;
  height: 20px;
  border-radius: 5px;
}
.inline {
  display: flex;
  flex-wrap: wrap;
}
.add {
  margin: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}
