@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@1,300&display=swap');

html,body, * {
  margin: 0px;
  padding: 0px;
}

.homepage {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.homepageImage {
  /* height: 70vh; */
  /* width:1000px; */
  width:100%;
  margin: 0 auto;
  background-image: url(https://i.ytimg.com/vi/jfl_C6tWkg4/maxresdefault.jpg);
  background-size: cover;
  border-radius: 10px;
  
}

.homepage .underline {
  height: 2px;
  margin-top: 5px;
  background-color: rgb(254 162 59);;
}

.homepage .link {
  text-decoration: none;
  color:rgb(41, 27, 27);
}
.homepage .link:hover {
  text-decoration: underline;
}
.companyInfo {
  width: 50%;
  margin: 20px auto;
  /* border: 2px solid black; */
  display: flex;
}
.companyInfo .col{
  width: 50%;
  text-align: center;
  /* margin: 20px auto; */
  /* border: 2px solid black */
}
.companyInfo .col .title{
  text-align: center;
  font-weight: 700;
  color: rgb(254 162 59)
}
.footer {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: rgb(41, 27, 27);
}

.space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;
}