.login {
    text-align: center;
    /* line-height: 3; */
    background-color: #241f1f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.login h1 {
    font-size: 3em;
    font-family: 'Berkshire Swash', cursive;
    margin: 0;
    padding: 0;
    color: #ff7a00;
}
.submit {
    /* background-color: rgb(253, 253, 253); */
    margin-top:15px;
    color: #fff;
    padding: 4px;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
.submit:hover{
    background-color: #fff;
    color: #000;
}
.invalid {
    background-color: rgb(170, 0, 0);
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    text-decoration: none;

}

.loginForm {
    width: 280px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.loginForm input {
    height:20px;
    border-radius: 10px;
}
.loginForm .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}