* {
    font-family: 'Courier New', Courier, monospace;
}
.login {
    text-align: center;
    /* line-height: 3; */
    background: rgb(38,0,0);
    background-image: url("https://cdn.hipwallpaper.com/i/26/13/DCFTiE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.login h1 {
    font-size: 7vw;
    font-family: 'Berkshire Swash', cursive;
    margin: 20px;
    margin-bottom: 30px;
    padding: 0;
    color: #ffffff;

}
.submit {
    /* background-color: rgb(253, 253, 253); */
    margin-top:15px;
    color: #fff;
    padding: 4px;
    border: 2px solid #fff;
    border-color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
.submit:hover{
    text-decoration: underline;
    background-color: #fff;
    color: rgb(255, 123, 0);
}
.invalid {
    background-color: rgb(170, 0, 0);
    color: #fff;
    padding: 4px;
    border-radius: 3px;
    text-decoration: none;

}
.logo {
    width:20vw;
    margin-bottom: 10px;
    /* position: absolute;
    top: 10px;
    left: 10px; */
}
.loginForm {
    width: 280px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.7);
    height: max-content;
    border-radius: 10px;
    padding:20px;
}
.loginForm input {
    height:20px;
    border-radius: 10px;
}
.loginForm .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    
}
.opacity {
    /* background-color: #000; */
}

@media only screen and (max-width: 786px) {
    .login h1 {      
        font-size: 10vw;
    }
    .loginForm {
        width: 270px;
        /* height: 100px; */
        font-size: 18px;
        padding: 15px;
    }
  }