body, html, * {
  margin: 0;
  padding: 0;
}
.productDescription {
  background-color: #fff;
}

.productDescription .image {
  width: 300px;
  padding: 0px;
}
.productDescription .column {
  width: 50%;
  text-align: center;
  display: flex;
  font-size: 2em;
  flex-direction: column;
  justify-content: center;
}
.productDescription .column .name{
    font-size: 1em;
}
.productDescription .frameDiv {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.productDescription .frame {
    margin: 0 auto;
    width: 1000px;
    height: 500px;
}
.productDescription .front {
  width: 40%;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #e6e6fa;
}