.product {
  width: 250px;
  /* height: 150px; */
  border: 1px solid black;
  display: flex;
  background-color: #fff;
  color: #000;
  margin: 0 0 0 10px;
  box-sizing: border-box;
}

.product .image {
  padding: 5px;
  width: 50%;
}
.product .column {
  padding: 10px;
  width: 50%;
}
.product .column p {
  font-size: 0.7em;
  margin: 0px;
}
.product .column .name {
  color: #fea23b;
  font-weight: 700;
  font-size: 0.9em;
}
.product .column .stock {
  color: #fea23b;
  font-weight: 700;
  font-size: 1.2em;
}
.product .record {
  text-decoration: underline;
  color: #000;
}
.product .record:hover {
  color: #fea23b;
  text-decoration: underline;
}

@media only screen and (max-width: 786px) {
  .product {
    width: 100%;
    margin: 10px;
  }
}